/* Coolors Exported Palette - https://coolors.co/91887d-f4e2cd-8c6c91-1c81b0-af3e4d-50c1b2 */

/* CSS HEX */
--middle-grey: #91887dff;
--almond: #f4e2cdff;
--chinese-violet: #8c6c91ff;
--blue-ncs: #1c81b0ff;
--english-red: #af3e4dff;
--medium-turquoise: #50c1b2ff;

/* CSS HSL */
--middle-grey: hsla(33, 8%, 53%, 1);
--almond: hsla(32, 64%, 88%, 1);
--chinese-violet: hsla(292, 15%, 50%, 1);
--blue-ncs: hsla(199, 73%, 40%, 1);
--english-red: hsla(352, 48%, 46%, 1);
--medium-turquoise: hsla(172, 48%, 54%, 1);

/* SCSS HEX */
$middle-grey: #91887dff;
$almond: #f4e2cdff;
$chinese-violet: #8c6c91ff;
$blue-ncs: #1c81b0ff;
$english-red: #af3e4dff;
$medium-turquoise: #50c1b2ff;

/* SCSS HSL */
$middle-grey: hsla(33, 8%, 53%, 1);
$almond: hsla(32, 64%, 88%, 1);
$chinese-violet: hsla(292, 15%, 50%, 1);
$blue-ncs: hsla(199, 73%, 40%, 1);
$english-red: hsla(352, 48%, 46%, 1);
$medium-turquoise: hsla(172, 48%, 54%, 1);

/* SCSS RGB */
$middle-grey: rgba(145, 136, 125, 1);
$almond: rgba(244, 226, 205, 1);
$chinese-violet: rgba(140, 108, 145, 1);
$blue-ncs: rgba(28, 129, 176, 1);
$english-red: rgba(175, 62, 77, 1);
$medium-turquoise: rgba(80, 193, 178, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-right: linear-gradient(90deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-bottom: linear-gradient(180deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-left: linear-gradient(270deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-top-right: linear-gradient(45deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-bottom-right: linear-gradient(135deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-top-left: linear-gradient(225deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-bottom-left: linear-gradient(315deg, #91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);
$gradient-radial: radial-gradient(#91887dff, #f4e2cdff, #8c6c91ff, #1c81b0ff, #af3e4dff, #50c1b2ff);